body {
  font-family: "Montserrat", sans-serif;
}

header {
  background: #bbbbbb;
  padding: 20px 0;
}

/* 940 é uma largura padrão */
.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

/* hover é quando passamos com o mouse por cima */
nav a:hover {
  color: #c78c19;
  text-decoration: underline;
}

footer {
  text-align: center;
  background: url("bg.jpg");
  padding: 40px 0;
}

.copyright {
  color: #ffffff;
  font-size: 13px;
  margin: 20px 0 0;
}

/* main {
  width: 940px;
  margin: 0 auto;
} */

/* pagina produtos */
.produtos {
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
}

.produtos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  /* é bom por uma cor no bg para entender aonde voce está mexendo */
  /* background: #cccccc; */
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  /* border-color: #000000;
  border-width: 2px;
  border-style: solid; */
  border: 2px solid #000000;
  border-radius: 10px;
}

.produtos li:hover {
  border-color: #c78c19;
}

/* active é quando clicamos no mouse, e deixamos pressionado */
.produtos li:active {
  border-color: #088c19;
}

/* quando passamos o mouse por cima do 'li' em 'produtos', queremos que o h2: */
.produtos li:hover h2 {
  font-size: 34px;
}

.produtos h2 {
  font-size: 30px;
  font-weight: bold;
}

.produto-descriçao {
  font-size: 18px;
}

.produto-preço {
  font-size: 22px;
  font-weight: bold;
  /* margin: 10px 0 0; */
  margin-top: 10px;
}

/* pagina de contato */
form {
  margin: 40px 0;
}

form label,
form legend {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

.input-padrao {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}

.checkbox {
  margin: 20px 0;
}

.enviar {
  width: 40%;
  padding: 15px 0;

  background: orange;
  color: white;

  font-weight: bold;
  font-size: 18px;

  border: none;
  border-radius: 5px;

  transition: 1s all;
  cursor: pointer;
}

.enviar:hover {
  background: darkorange;

  /* o scale usa propriedades multiplicativas, portanto 20% = vezes 1.2 */
  transform: scale(1.2);
  /* transform: rotate(70deg) scale(1.2); */
}

table {
  margin: 20px 0 40px;
}

thead {
  background: #555555;
  color: white;
  font-weight: bold;
}

th,
td {
  border: 1px solid #000000;
  padding: 8px 15px;
}

/* pagina inicial */
.banner {
  width: 100%;
}

.titulo-principal {
  text-align: center;

  /* em é proporcial ao tamanho da fonte */
  /* isso quer dizer que sao 2 vezes o tamanho base da fonte, e a margem para baixo é equivalente a um tamanho da fonte atual */
  font-size: 2em;
  margin: 0 0 1em;
  clear: left;
  /* color: rgba(0,0,0, 0.3); */

  /* text-shadow: 2px 2px #ff0000; */
}

.principal {
  padding: 3em 0;
  background: #fefefe;
  width: 940px;
  margin: 0 auto;
}

.principal p {
  margin: 0 0 1em;
}

.principal strong {
  font-weight: bold;
}

.principal em {
  font-style: italic;
}

.utensilios {
  width: 120px;
  float: left;
  /* cima direita baixo esquerda */
  margin: 0 20px 20px 0;
}

/* some methods */
/* p:first-letter {
  font-weight: bold;
}
p:first-line {
  font-style: italic;;
} 
.titulo-principal:before {
  content: "[ ";
}
.titulo-principal:after {
  content: " ]";
}
*/
.mapa {
  padding: 3em 0;
  background: linear-gradient(#fefefe, #888888);
}

.mapa-conteudo {
  width: 940px;
  margin: 0 auto;
}

.mapa p {
  margin: 0 0 2em;
  text-align: center;
}

.beneficios {
  padding: 3em 0;
  background: #888888;
  /* sombra interna 
  box-shadow: inset 0 0 30px #ff0000;*/
}

.conteudo-beneficios {
  width: 640px;
  margin: 0 auto;
}

.lista-beneficios {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.itens {
  line-height: 1.5;
}

.itens:first-child {
  font-weight: bold;
}

.itens:before {
  content: "✭";
}

/* picking by number or odd/even numbers */
/* .itens:nth-child(2n) {
  font-weight: bold;
} */

.imagem-beneficios {
  width: 60%;

  opacity: 1;
  transition: 400ms;

  /* eixo X, eixo Y, blur, intensidade da borda e cor */
  box-shadow: 10px 10px 5px 0px #000000;
}

.imagem-beneficios:hover {
  opacity: 0.3;
}

.video {
  width: 560px;
  margin: 2em auto;
}

/* como selecionar apenas os filhos de primeiro grau 
 main > p {
  color: red;

}  como selecionar o primeiro paragrafo apos uma imagem
img + p {
  color: blue;

}  como selecionar todos os paragrafos apos uma imagem
img ~ p {
  color: yellow;
} 
 a ordem dos seletores acima, por terem a mesma força, faz o ultimo item reescrever o penultimo, ou seja, o texto todo ficou amarelo e nenhum azul */

/* como transformar todos os itens MENOS um deles
 .principal p:not(#missao) {
   color: orange;
 } */

/* para os dispositivos que tenham até 480px de largura: */
@media screen and (max-width: 480px) {
  .caixa,
  .principal,
  .conteudo-beneficios,
  .mapa-conteudo,
  .video {
    width: auto;
  }

  h1 {
    text-align: center;
  }

  nav {
    position: static;
  }

  .lista-beneficios, .imagem-beneficios {
    width: 100%;
  }
}
